 #parse("header.html")
<link rel="stylesheet" href="../styles/letter.css">
    <div id="main">
        <div class="zg-wrap zu-main clearfix ">
            <ul class="letter-list">
                #foreach ($message in $messages)
                <li id="conversation-item-10001_622873">
                <a class="letter-link" href="/msg/detail?conversationId=$message.message.conversationId">
                </a>
                <div class="letter-info">
                <span class="l-time">$date.format('yyyy-MM-dd HH:mm:ss', $message.message.createdDate)</span>
                <div class="l-operate-bar">
                    <!--
                <a href="javascript:void(0);" class="sns-action-del" data-id="10001_622873">
                删除
                </a>
                -->
                <a href="/msg/detail?conversationId=$message.message.conversationId">
                    $message.message.id
                </a>
                </div>
                </div>
                 <!-- 新添加功能：如果未读消息为0时，则只显示头像信息；否则显示头像信息和未读信息数 -->
                <div class="chat-headbox">
                    #if($!{message.unread} != 0)
                    <span class="msg-num">$!{message.unread}</span>
                    #end
                    <a class="list-head"><img alt="头像" src="$message.user.headUrl"></a>
                </div>

                <div class="letter-detail">
                <a title="$message.user.name" class="letter-name level-color-1">
                    $message.user.name
                </a>
                <p class="letter-brief">
                <a href="/msg/detail?conversationId=$message.message.conversationId">
                $message.message.content
                </a>
                </p>
                </div>
                </li>
                #end
            </ul>
        </div>
    </div>
#parse("footer.html")